@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
  margin: 0;
  font-size: 12px;
  font-family: "Poppins",sans-serif;
  color: #000;
  background-color: #eef5f9;
  max-width: 100%;
}
.topbar{
  background-color: #1e88e5;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.top-navbar, .navbarbg, .navbarbg ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}
.nav-logo{
  margin: 0 15px;
}
.nav-logo a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5,h6, p{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
  display: block;
}
.navbarbg{
  flex-grow: 1;
  justify-content: space-between;
  padding-right: 20px;
}
.nav-item{
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  height: inherit;
  display: flex;
  align-items: center;
  transition: all .6s;
  position: relative;
}
.nav-item svg{
  opacity: 0.8;
  margin-top: 25px;
}
.topnav-avatar,.dropdown-avatar{
  border-radius: 50%;
  object-fit: fill;
}
.topnav-avatar{
  margin-top: 20px;
  height: 32px;
  width: 32px;
}
.dropdown-avatar{
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.dropdown-user_title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}
.dropdown-user_title h5{
  font-size: 1em;
}
.dropdown-user_title p{
  font-weight: bold;
  font-size: .8em;
  opacity: .8;
}
div.dropdown-user{
  width: 280px;
}
.dropdown-menu{
  min-width: 280px;
  width: 350px;
  position: absolute;
  top: 72px;
  right: 0px;
  box-shadow: 0px 0px 10px rgb(223, 223, 223);
  display: none;
  background-color: #fff;
}
.dropdown-menu ul.dropdown-user_option{
  display: flex;
  padding: 0;
  flex-direction: column;
  color: #455a64;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
  font-size: .9em;
}
.dropdown-menu ul.dropdown-user_option li{
  padding: 10px 0;
  width: 100%;
}
.dropdown-menu ul.dropdown-user_option li:hover{
  background-color: rgb(250, 254, 255);
}
.dropdown-menu ul.dropdown-user_option li a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.dropdown-menu ul.dropdown-user_option li a svg{
  margin-top: 0;
  margin-right: 10px;
}
.nav-item:hover svg{
  opacity: 1;
  
}
.nav-item:hover{
  background-color: #0371d1;
}
.nav-item a{
  width: 100%;
  height: inherit;
  padding: 0 15px;
}
.nav-item a:focus + div.dropdown-menu{
  display: inline;
}

.drop-title{
  right: 0;
  width: 100%;
  height: 80px;
  border-radius: 2px 2px 0 0;
}
.drop-title:after{
  background-image: url("./assets/images/img5.9dff257c.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
}
.drop-title div{
  margin-left: 20px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.drop-title div h4{
  font-size: 1em;
}
.drop-title div p{
  font-size: .85em;
  font-weight: bold;
}
.bg-primary{
  width: 15px;
  height: 15px;
  content: "";
  position: absolute;
  right: 20px;
  top: -6px;
  border-radius: 0 5px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.message-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #dee2e6;
}
.message-item:hover{
  background-color: rgb(250, 254, 255);
}
.message-icon div, .message-icon img{
  color: #fff;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  opacity: .7;
}
.message-icon img{
  height: 34px;
  width: 34px;
}
.message-icon div:hover{
  transform: translateY(-1px);
  transition: all .2s ease-in-out;
  opacity: 1;
}
.message-icon div svg, .nav-link svg{
  margin-top: 0;
}

.message-content{
  color: #000;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.message-content span{
  font-size: .7em;
  font-weight: 800;
  color: #8898aa;
}
.message-content span.time{
  text-transform: uppercase;
}
a.nav-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  color: #000;
  padding: 15px 0;
}
.mail-desc{
  text-overflow: ellipsis;
  overflow: hidden;
  height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.boder-top-bottom{
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
}
/* left sidebar */
.left-sidebar{
  height: 100%;
  position: fixed;
  box-shadow: 1px 2px 3px rgb(216, 216, 216);
  background-color: #fff;
  z-index: 10;
}
.scroll-sidebar{
  height: calc(100% - 20px);
  overflow: auto;
}
.leftSideBar-header{
  height: 130px;
  background-image: url(./assets/images/imgLeftSideBar.jfif);
  display: flex;
  flex-direction: column;
}
.leftSideBar-header_small{
  height: 90px;
}
.leftSideBar-header div.profile-user-img{
  flex-grow: 1;
}
.leftSideBar-header div.profile-user-img, .leftSideBar-header div.username{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.leftSideBar-header div.profile-user-img img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .5s ease;
}
.leftSideBar-header div.profile-user-img_small img{
  width: 40px;
  height: 40px;
}
.leftSideBar-header div.profile-user-img_small{
  padding-left: 12px;
}
.leftSideBar-header div.username{
  background-color: rgba(0,0,0,.5);
  height: 32px;
  color: #fff;
  font-size: 1.1em;
}
#sidebarnav{
  height: 100%;
}
#sidebarnav li{
  font-size: 1.25em;;
  font-weight: 800;
  color: #607d8b;
  cursor: pointer;
  
}
#sidebarnav li div, #sidebarnav li{
  border-radius: 4px;
}
#sidebarnav li{
  margin: 5px .5rem;
  padding: 4px;
}
#sidebarnav li div::after{
  content: ">";
  font-size: 1.1em;
  margin-left: 5.1rem;
  transition: all .3s ease-out;
}
#sidebarnav li div.arrowShowOption::after{
  transform: rotate(-270deg) ;
}
#sidebarnav li div.hideArrow::after{
  display: none;
}
#sidebarnav li a, #sidebarnav li div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 10px 6px;
}
#sidebarnav li:hover{
  color: #21c1d6;
}
#sidebarnav li svg{
  margin: .1rem ;
  font-size: 1.5em;
}

ul.collapse span{
  font-size: .8em;
}
.select-navbar{
  background-color: #21c1d6;
  color: #fff!important;
  box-shadow: 0 0 8px rgb(194, 194, 194);
}

li.select-navbar_child span{
  color: #000;
  font-weight: bold;
}
/* svg.arrowShowOption{
  margin-left: 4rem!important;
} */
svg.arrowShowOption_downwards{
  animation-name: arrowDownwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
svg.arrowShowOption_toRight{
  animation-name: arrowToRight;
  animation-duration: .6s;
  animation-fill-mode: forwards;
}
@keyframes arrowToRight {
  from{transform: rotate(-270deg)}
  to{
    transform: rotate(0deg);
  }
}
@keyframes arrowDownwards {
  from{transform: rotate(0deg)}
  to{
    transform: rotate(-270deg);
  }
}

.hide{
  display: none!important;
}
/* dashboard */
.dashboard-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 65px;
  padding: 30px;
  font-size: 1.6em;
}
div.zoom-out-dash{
  margin-left: 240px;
}
.row{
  display: flex;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
}
.content-wrap{
  background-color: #fff;
  padding: 1.25rem;
  flex: 1 1 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(226, 226, 226);
  margin: 0px 15px 30px 15px;
}
.content-wrap p{
  font-size: .7em;
  font-weight: bold;
  color: #8898aa;
}
.sales-overview-wrap, .sales-overview_header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.sales-overview_header{
  flex-direction: row;
  width: 100%;
}
.chart-gloss{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chart-gloss > span{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* sale overview chart */
.sales-chart{
}